<header class="main-heder">
        <nav class="main-heder-nav">
            <ul class="main-heder-item-list">
                <li class="main-heder-item"><a class="active" href="/">Home</a></li>
                <li class="main-heder-item active"><a href="/author">Author</a></li>
            </ul>
        </nav>
    </header>