     <form class="product-from" action="add-product" method="POST">
            <label for= "product-name"> 💲Dolar </label>
            <input type= "text" name= "name" id="product-name">
            <button type="submit"> Calcular</button>
            </form>